@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



h4, h5{

    font-family: "Bellefair", serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem ;
}